<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>BC inside</title>
    <link rel="stylesheet" th:href="@{/css/detail_reply.css}" />
</head>
<body>
    <div class="container">
        <h1 id="title_h">BC Inside</h1>
        <p id="title_p">독서토의 커뮤니티</p>
    </div>
    <div sec:authorize="isAnonymous()">
        <a href="/">홈</a>
        <a href="/auth/login">로그인</a>
        <a href="/auth/join">회원가입</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <a href="/">홈</a>
        <a href="/write">글 작성</a>
        <a href="/auth/logout">로그아웃</a>
    </div>
    <div class="board-container">
        <h1 id="title" th:text="${boardDetail.title}">Board Title</h1>
        <p sec:authorize="isAuthenticated()" class="button-container" th:if="${#authentication.getPrincipal().getUsername() == boardDetail.username} or ${isAdmin}">
            <button th:onclick="|location.href='@{|/edit/${boardDetail.id}|}'|">수정</button>
            <button th:onclick="|location.href='@{|/boards/delete/${boardDetail.id}|}'|">삭제</button>
        </p>
    </div>
    <div class="info-line">
        <span class="info-label">작성자 :</span>
        <span th:text="${boardDetail.username}">Username</span>
    </div>
    <div class="info-line">
        <span class="info-label">작성일 :</span>
        <span th:text="${#temporals.format(boardDetail.createdDate, 'yy/MM/dd ahh:mm')}">CreatedAt</span>
    </div>
    <div class="info-line">
        <span class="info-label">수정일 :</span>
        <span th:text="${#temporals.format(boardDetail.lastModifiedDate, 'yy/MM/dd ahh:mm')}">ModifiedAt</span>
    </div>
    <div class="info-line">
        <span class="info-label">책 이름 :</span>
        <span th:text="${boardDetail.bookTitle}">BookTitle</span>
    </div>
    <div class="info-line">
        <span class="info-label">구매링크 :</span>
        <a th:href="${boardDetail.bookUrl}" style="color: #007BFF; text-decoration: none;">구매링크↗</a>
    </div>
    <h5>내용</h5>
    <p class="board-content" th:text="${boardDetail.content}">Board Content</p>

    <a th:href="@{/boards/{id}(id=${boardDetail.id})}">댓글로 돌아가기</a>

    <div sec:authorize="isAuthenticated()">
        <div class="chat-container">
            <div class="comment-other">
                <strong th:text="${comment.username}">사용자 이름</strong>:
                <span th:text="${comment.content}">댓글 내용</span>
                <a th:if="${#authentication.getPrincipal().getUsername() == comment.username} or ${isAdmin}"
                   th:href="@{/boards/{boardId}/comments/{id}/delete(id=${comment.id},boardId=${boardDetail.id})}"
                   class="delete-button"
                   onclick="return confirm('정말로 이 댓글을 삭제하시겠습니까?');">삭제</a>
            </div>

        <form th:action="@{/boards/{boardId}/comments/{commentId}/reply(boardId=${boardDetail.id},commentId=${comment.id})}" method="post" th:object="${postCommentRequest}">
            <div th:if="${#fields.hasAnyErrors()}" class="error">
                <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
            </div>
            <div>
                <label for="content"></label><textarea th:field="*{content}" id="content" placeholder="내용"></textarea>
            </div>
            <input type="submit" value="답글 작성">
        </form>
            <ul class="chat-replies">
                <li th:each="reply : ${replies}" class="reply me">
                    <div class="message">
                        <strong th:text="${reply.username}">사용자 이름</strong>:
                        <span th:text="${reply.content}">댓글 내용</span>
                        <a th:if="${#authentication.getPrincipal().getUsername() == reply.username} or ${isAdmin}"
                           th:href="@{/boards/{boardId}/replies/{id}/delete(id=${reply.id},boardId=${boardDetail.id})}"
                           class="delete-button"
                           onclick="return confirm('정말로 이 댓글을 삭제하시겠습니까?');">삭제</a>
                    </div>
                </li>
            </ul>
    </div>
</body>
</html>