<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>BC inside</title>
    <link rel="stylesheet" th:href="@{/css/detail.css}" />
</head>
<body>
    <div class="container">
        <h1 id="title_h">BC Inside</h1>
        <p id="title_p">독서토의 커뮤니티</p>
    </div>
    <div sec:authorize="isAnonymous()">
        <a href="/">홈</a>
        <a href="/auth/login">로그인</a>
        <a href="/auth/join">회원가입</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <a href="/">홈</a>
        <a href="/write">글 작성</a>
        <a href="/auth/logout">로그아웃</a>
    </div>
    <div class="board-container">
        <h1 id="title" th:text="${boardDetail.title}">Board Title</h1>
        <p sec:authorize="isAuthenticated()" class="button-container" th:if="${#authentication.getPrincipal().getUsername() == boardDetail.username} or ${isAdmin}">
            <button th:onclick="|location.href='@{|/edit/${boardDetail.id}|}'|">수정</button>
            <button th:onclick="|location.href='@{|/boards/delete/${boardDetail.id}|}'|">삭제</button>
        </p>
    </div>
    <div class="info-line">
        <span class="info-label">작성자 :</span>
        <span th:text="${boardDetail.username}">Username</span>
    </div>
    <div class="info-line">
        <span class="info-label">작성일 :</span>
        <span th:text="${#temporals.format(boardDetail.createdDate, 'yy/MM/dd ahh:mm')}">CreatedAt</span>
    </div>
    <div class="info-line">
        <span class="info-label">수정일 :</span>
        <span th:text="${#temporals.format(boardDetail.lastModifiedDate, 'yy/MM/dd ahh:mm')}">ModifiedAt</span>
    </div>
    <div class="info-line">
        <span class="info-label">책 이름 :</span>
        <span th:text="${boardDetail.bookTitle}">BookTitle</span>
    </div>
    <div class="info-line">
        <span class="info-label">구매링크 :</span>
        <a th:href="${boardDetail.bookUrl}" style="color: #007BFF; text-decoration: none;">구매링크↗</a>
    </div>
    <h5>내용</h5>
    <p class="board-content" th:text="${boardDetail.content}">Board Content</p>

    <h5>AI 논점 요약</h5>
    <div sec:authorize="isAuthenticated()">
        <p class="board-content" th:text="${summarize}">Board Content</p>
    </div>

    <a th:href="@{/boards/{id}(id=${boardDetail.id})}">요약닫고 댓글 불러오기</a>
</body>
</html>